langchain
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface
requests
langchain-experimental
fastapi
python-dotenv
streamlit
uvicorn
pydantic
httpx
requests
langchain_google_community
langchain_tavily
langchain_groq
langchain_openai
langgraph
langchain-google-community[places]   # -e is for executable file ...for executing the setup.py file


-e .    